* {
    box-sizing: border-box;
}

.requestForm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #676565;
}

.requestForm > h1 {
    font-size: 33px;
    line-height: 45px;
    margin: 0;
    padding-left: 19px;
    font-weight: lighter;
}

.requestForm .subtitle {
    font-weight: bold;
    line-height: 35px;
}

.requestForm input, .requestForm textarea {
    line-height: 37px;
    width: 100%;
    margin-bottom: 11px;
    padding-left: 13px;
    border: none;
}

.requestForm > form textarea {
    line-height: 29px;
    height: 128px;
    margin-bottom: 8px;
}

.requestForm > form {
    padding: 9px 21px 15px;
    max-width: 844px;
    background-color: #feeed6;
}

.requestForm button {
    display: block;
    font-weight: bold;
    padding: 9px 12px;
    margin-top: 12px;
    margin-left: auto;
    color: #fff;
    background-color: #378db2;
    border: none;
}

.requestForm input:focus-visible, .requestForm textarea:focus-visible {
    outline: -webkit-focus-ring-color none;
}