* {
    box-sizing: border-box;
}

.course {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    max-width: 848px;
    color: #676565;
    background-color: #feeed6;
    padding: 8px 11px 0;
}

.title {
    font-size: 32px;
    font-weight: lighter;
    line-height: 34px;
    margin: 0;
}

.info {
    line-height: 32px;
    padding: 10px 0;
}

.subtitle {
    color: #378db2;
    font-weight: bold;
}

.course > p {
    font-size: 17px;
    text-indent: 19px;
    line-height: 24px;
    padding: 8px 0 4px;
    margin: 0;
    text-align: justify;
}