.persons {
    max-width: 860px;
    font-family: 'Humanst521 Lt BT', Calibri, sans-serif;
    font-size: 23px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.persons > tbody > tr:nth-child(odd) {
    background-color: #eee;
}

.persons th, .persons td {
    padding: 12px;
    border: 1px solid #ccc;
}

.persons > thead > tr {
    color: #fff;
    background-color: #3498db;
}