.personTable {
    max-width: 860px;
}

.personTable > table {
    font-family: 'Humanst521 Lt BT';
    font-size: 24px;
    line-height: 49px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.personTable tbody > tr:nth-child(odd) {
    line-height: 48px;
    background-color: #eee;
}

.personTable th, .personTable td {
    padding-left: 11px;
    border: 1px solid #ccc;
}

.personTable thead > tr {
    color: #fff;
    background-color: #3498db;
}