.converter {
    margin: 5px;
}

.error-message {
    color: #f00;
    display: none;
    position: absolute;
}

.invalid {
     border-color: #f00;
}

.required ~ .required {
    display: block;
}

.number ~ .number {
    display: block;
}